.bottom{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    position: relative;
    top: 45px;
    width: 100%;
    background-color: rgb(199, 171, 142);   

}
.top{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.bottom>.top>.inp_section{
  display: flex;
  gap: 10px;
  width: 100%;
  flex-direction: row;
  align-items: center;
}.inp_section>input{
    font-size: 22px;
    padding: 5px;
    outline: none;
    border: none;
    background-color: #F3F3F3;
    border-radius: 20px;
    width: 60%;
}
.bottom>.bot{

}