.cardslider{
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 22px;
    top: 50px;
    gap: 20px;
    padding-bottom: 40px;
    font-family: 'Montserrat';

}
.cardslider>.top{
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
    justify-content:flex-end;

}
.cardslider>.top>h2{
  font-size: 30px;
  text-indent: 30em;
  
}
.cardslider>.top>p{
    text-indent: 5em;
    font-size: 25px;
    display: flex;
    width: 100%;
    justify-content: end;
}
.cardslider>.btn{
    display: flex;
    align-items: center;

}
.cardslider>.btn>.slider{
    width: 75%;
    margin: 0 auto;
    padding: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position:relative;

}
.cardslider>.btn
>.slider
>.sliderlist{
    display: flex;
    padding: 10px;
    gap: 50px;
    position:relative;
    left: 0px;
}
.cardslider>.btn>.prev{
    position: absolute;
    left: 130px;
    background-color: #F9B300;
    border: none;
    padding: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50px; 
}
.cardslider>.btn>.next{
    position: absolute;
    right: 130px;
    background-color: #F9B300;
    border: none;
    padding: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50px; 
}

@media (max-width:1024px) {
    .cardslider>.top>h2{
        font-size: 20px;
        text-indent: 30em;
    }.cardslider>.top>p{
        font-size: 15px;
        text-indent:5em;
    }

}
@media (max-width:768px) {
    .cardslider>.top>h2{
        font-size: 20px;
        text-indent: 24em;
    }.cardslider>.top>p{
        font-size: 15px;
        text-indent:5em;
    }

}
@media (max-width:376px) {
    .cardslider>.top>h2{
        font-size: 18px;
        text-indent: 8.4em;
    }.cardslider>.top>p{
        font-size: 14px;
        text-indent:4.5em;
    }
    .cardslider>.btn>.prev{
        position: absolute;
        left: 20px;
        background-color: #F9B300;
        border: none;
        padding: 4px;
        width: 50px;
        height: 50px;
        border-radius: 50px; 
        z-index: 10;
        border: 0.8px solid #fff;
    }
    .cardslider>.btn>.next{
        position: absolute;
        right: 20px;
        background-color: #F9B300;
        border: none;
        padding: 4px;
        width: 50px;
        height: 50px;
        border-radius: 50px; 
        border: 0.8px solid #F9B300;
    }
    .cardslider>.btn>.slider{
        width: 100%;
    }


}
@media (max-width:428px) {
    .cardslider>.top>h2{
        font-size: 18px;
        text-indent: 5.4em;
    }.cardslider>.top>p{
        
        font-size: 14px;
        text-indent:10.5em;
        color: #fff;
        font-weight: bold;
    }

}
@media (max-width:425px) {
    .cardslider>.top>h2{
        font-size: 18px;
        text-indent: 11.4em;
    }.cardslider>.top>p{
        font-size: 14px;
        text-indent:13.5em;
        color: black;
    }

}
@media (max-width:376px) {
    .cardslider>.top>h2{
        font-size: 18px;
        text-indent: 8.4em;
    }.cardslider>.top>p{
        font-size: 14px;
        text-indent:4.5em;
    }
    .cardslider>.btn>.prev{
        position: absolute;
        left: 20px;
        background-color: #F9B300;
        border: none;
        padding: 4px;
        width: 50px;
        height: 50px;
        border-radius: 50px; 
        z-index: 10;
        border: 0.8px solid #fff;
    }
    .cardslider>.btn>.next{
        position: absolute;
        right: 20px;
        background-color: #F9B300;
        border: none;
        padding: 4px;
        width: 50px;
        height: 50px;
        border-radius: 50px; 
        border: 0.8px solid #F9B300;
    }
    .cardslider>.btn>.slider{
        width: 100%;
    }


}

@media (max-width:320px) {
    .cardslider>.top>h2{
        font-size: 18px;
        text-indent: 5.4em;
    }.cardslider>.top>p{
        
        font-size: 14px;
        text-indent:8.5em;
        color: rgb(6, 6, 6);
        font-weight: bold;
    }

}
