.header{
    display: flex;
    width: 100%;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    padding: 10px 5px 5px 5px;
    z-index: 10;
    background-color: #fff;
    gap: 10px;
    box-shadow: 0px 5px 20px rgba(157, 157, 157, 0.25);
}
.logo>a>img{
    width: 100%;
    height: 116px;
}

.search{
    display: flex;
    align-items: center;
    padding: 2px 5px;
    width: 70%;
    border-radius: 10px;
    -webkit-box-shadow: 4px 8px 21px -5px rgba(66, 68, 90, 1);
    -moz-box-shadow: 4px 8px 21px -5px rgba(66, 68, 90, 1);
    box-shadow: 4px 8px 21px -5px rgba(66, 68, 90, 1);
}
.search>.inplogo{
    width: 32px;
    height: 32px;
    color: #C4C4C4;
    cursor: pointer;
}
.search>input{
    width: 98%;
    padding: 2px 2px;
    border: none;
    font-size: 16px;
    outline: none;
    border-radius: 10px;
}
.auth_basket{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.auth_basket>.firstIcon{
    transition: .3s;
    cursor: pointer;
}
.auth_basket>.secondIcon{
    transition: .3s;
    cursor: pointer;
}
.auth_basket>.firstIcon:hover{
    color: #F9B300;
}
.auth_basket>.secondIcon:hover{
    color: #F9B300;
}

@media (max-width:426px) {
    .header>.logo>a>.img{
        width: 70%;
    }
}